.flytta{
 margin-top: 10px;

}.bok{
margin-top:10px;
text-align:center;
font-family: 'Harmattan', sans-serif;
font-size: 40px;
}
.mail{
text-align:center;
font-family: 'Harmattan', sans-serif;
font-size: 40px;
}
.tider{
text-align:center;
font-family: 'Harmattan', sans-serif;
font-size: 40px;
}
.kontakt{
text-align:center;
font-family: 'Harmattan', sans-serif;
font-size: 40px;
font-weight:bold;
color: rgb(25, 25, 117);
}
.adress{
margin: 10;
text-align:center;
font-family: 'Harmattan', sans-serif;
font-size: 50px;
font-weight:bold;
}
.hej{
text-align:center;
font-family: 'Harmattan', sans-serif;
font-size: 50px;
}
.vadå{
  text-align: center;
  font-family: 'Harmattan', sans-serif;
  font-size: 60px;
  color: rgb(0, 0, 0);
}
.vansinne{ 
  margin-left: 10px;
  font-family: 'Days One', sans-serif;
  float:left;
  font-size: 30px;
  color:white;
}  
.parkering{
  margin: 100;
  text-align: center;
  margin-top: 300px;
  font-family: 'Days One', sans-serif;
  font-size: 25px;
}
.ovrigt{
  padding:4;
  margin-top: 90;
  text-align: center;
  font-family: 'Harmattan', sans-serif;
  font-size: 50px;
}
.pris{
  margin: 50;
  text-align: center;
  font-family: 'Days One', sans-serif;
  font-size: 25px;
}
.text{
  margin: 100;
  text-align: center;
  font-family: 'Harmattan', sans-serif;
  font-size: 25px;
}.rubi{
 margin-top: 100;
 text-align: center;
 font-family: 'Harmattan', sans-serif;
 font-size: 50px;
 font-weight:bold;
 color: black;
}
.upp{

 margin: 100px;
 text-align: center;
 font-family: 'Harmattan', sans-serif;
 font-size: 30px;

}
.car{
  text-align: center;
}
.map{
  position:relative; bottom:2px; left:5px;
}
.caar{
  text-align:center;
}
.parking_lot{
  height:30vh;
  text-align: center;
}
.white{
text-align: center;
  
}
.bildwrap{
  text-align: center;
}
ul{
    list-style-type: none;            
    margin: 0;
    padding: 0;
    width: 150px;
    height: 260px;        
    background-color: #f1f1f1;
}
a {
    
    color:white;
    padding: 8px 16px;
    text-decoration: none;
}
 
#buu{
   position:fixed;
}
.list{
  position: relative;
  top:30px;
  

}
.meny
  { 
    position: fixed; left: 0; top: 0; right: 0;
    text-align: center;
    height: 8vh;
    background: maroon;
   
  } 
  .footer{

    position: fixed; left: 0; top: 0; right: 0;
    z-index: -1;
    text-align: left;
    text-indent: 8px;
    color: white;
    top: 860px;
    height: 10vh;
    background: darkblue;
  }

  
  
